@font-face {
    font-family: 'OpenSans', sans-serif;
    src: url('../fonts/OpenSans-Regular.ttf');

}

/*HEADER START*/
.header {
    font-family: 'Open Sans', sans-serif;
    display:flex;
    height: 70px;
    width: 100%;
    background-color: #1d2124;
    align-items: center;
    justify-content: space-between;
    transform-style: inherit;
}

.menuItems {
    text-decoration: none;
    color: #ffffff;
    margin-left: 37px;
    font-size: 15px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #1a1d20;
}
.logoBox {
    display: inline-flex;
    align-items: center;
}
.nameLogo {
    text-decoration: none;
    margin-left: 6px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 70px;
    background-color: #171a1c;
    color: #fff;
}

/*HEADER END*/
/*Button start*/
.bgImageBox {
    height: 404px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: gray url("../images/header-bg.jpeg") no-repeat fixed bottom;
    background-blend-mode: darken;
    background-size: cover;
}
.BTN {
    width: 170px;
    height: 55px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.subscribeBTN {
    background-color: #89ca62;
}
.articlesBTN {
    background-color: #14b9d5;
}
/*Button end*/
/*Posts Box Start*/
.news {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 27px;
    margin: 45px;
}
.postBox {
   display: flex;
   align-content: center;
   flex-flow: column wrap;
   height: 900px;
   background-color: #f2f2f2;
}
.postCard {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: #ffffff;
    margin: 20px;
}
.namePostcart {
    display: flex;
    height: 61px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}
.titlePost {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #18b4cf;
    font-size: 27px;
    padding: 45px 45px 14px 45px;
    background-color: #f2f2f2;
}
.postConteiner {
    background-color: #f2f2f2;
}
/*----------------------------Grid start------------------------------*/
/* .gridContainer {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto); */
/*}*/

/*SPRITE*/
.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite-Dryme {
    width: 135px;
    height: 49px;
    background-position: -5px -5px;
}

.sprite-HouseHome {
    width: 172px;
    height: 42px;
    background-position: -5px -64px;
}

.sprite-Journy {
    width: 141px;
    height: 52px;
    background-position: -5px -116px;
}

.sprite-NP {
    width: 207px;
    height: 28px;
    background-position: -150px -5px;
}
/*SPRITE END*/
.bgGridImage {
    background: url("../images/img_parallax-bg.jpeg") no-repeat fixed center;
    background-size: cover;
    height: 590px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
}

.titleGridIMG {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    grid-column: 1 / span 4;
    grid-row-start: 2;
    align-self: end;
    position: relative;

}
.titleGridIMG::after {
    content: "";
    display: block;
    position: absolute;
    top: 85px;
    left: 45%;
    right: auto;
    width: 8%;
    height: 3px;
    background-color: #14b9d5;
}
.sprite {
    grid-row-start: 4;
    justify-self: center;
}
.sprite-NP {
    margin-top: 8px;
}
/*TOP RATED*/
.topRated {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(271px, 1fr));
    justify-content: center;
    grid-row-gap: 45px;
}
.titleTop {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #18b4cf;
    font-size: 27px;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    background-color: #fff;
    grid-column: 1/-1;
}
.titleTopRated {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #18b4cf;
    font-size: 27px;
    margin-top: 55px;
    margin-bottom: 52px;
    text-align: center;
    background-color: #fff;
}
/*TOP RATED END*/
/*HOT NEWS START*/
.hotNews{
    display: grid;
    grid-gap: 45px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(6, [row] auto);
    justify-content: center;
}
.titleImgBox {
    margin-top: 12px;
    padding-right: 22px;
    font-size: 18px;
    font-weight: 600;
}
.titleImgBox1 {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 600;
}

.newsBox {
    font-family: 'Open Sans', sans-serif;
    max-width: 856px;
    max-height: 259px;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 483px 373px;
    justify-self: baseline;
    grid-column: 1/span3;
    grid-row: 1;
}
.newsBoxText {
    width: 373px;
    text-align: center;
    padding-top: 41px;
    font-size: 14px;
}
.newsBox2 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    text-align: center;
    width: 277px;
    height: 259px;
    background-color: #f2f2f2;
    grid-column: 4;
    grid-row: 1;
}
.newsBox3 {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 554px;
    height: 418px;
    text-align: right;
    background-color: #f2f2f2;

}
.leftBox {
    grid-column: 1;
    grid-row: 4;
}
.rightBox {
    grid-column: 2/span3;
    grid-row: 4;
}
.box1{
    justify-self: end;
    grid-column: 1 / span 2
}
.box2 {
    justify-self: end;
    grid-column: 3/span 2;
    margin-left: 24px;
}
.box3 {
    justify-self: end;
    grid-column: 1/span 2;
    grid-row: 3;
}
.box4 {
    justify-self: end;
    grid-column: 3/span 2;
    grid-row: 3;
    margin-left: 24px;
}
.textBox {
    margin: 0;
    padding: 22px;
}
.textInBox {
    padding: 24px;
}
.footer {
    display: grid;
    height: 80px;
    background-color: #1d2124;
    grid-template-columns: repeat(30, 5px);
    grid-gap: 35px;
    justify-content: center;
}
.copyRight {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #fff;
    grid-column: 1/15;
    justify-self: start;
    align-self: center;
}
.footerLogoImg {
    grid-column: 28;
    align-self: center;
    justify-self: center;
    margin-top: 8px;
}
.footerLogo {
    grid-column: 29 / span 2;
    align-self: center;
    justify-self: end;
}
.changeColor {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 50px;
    height: 50px;
    color: #FFFFFF;
    background-color: #18cfab;
    border: 1px solid #18cfab;
    border-radius: 30px;
}
.subMenu {
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.67);
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
.scrollUp {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    color: #FFFFFF;
    background-color: #18cfab;
    border: 1px solid #18cfab;
    border-radius: 30px;
}
.togCont {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle {
    padding: 10px;
    color: #18cfab;
    background-color: #fff;
    border: 1px solid #18cfab;
}