
.menuItems {
    color: #ffffff;

}
.nameLogo {
    color: #fff;
}
.search {
    background-color: #d50003;
    color: #faf4ff;
}

.BTN {
    color: #ffdf00;
}
.subscribeBTN {
    background-color: #0006ca;
}
.articlesBTN {
    background-color: #d50003;
}
/*Button end*/
/*Posts Box Start*/
.news {
    color: #fff;
}
.postBox {

    background-color: #dfd0a2;
}
.postCard {
    background-color: #dfd0a2;
}
.namePostcart {
    background-color: #ffffff;
}
.titlePost {
    color: #8b7eff;
    background-color: #dfd0a2;
}
.postConteiner {
    background-color: #dfd0a2;
}

.titleGridIMG {
    color: #ffdf00;
}
.titleGridIMG::after {
    background-color: #0bcfcb;
}

.titleTop {
    color: #cf0603;
    background-color: #fff;
}
.titleTopRated {
    color: #cf0005;
    background-color: #fff;
}
.newsBox {
    background-color: #f2f2f2;
}
.newsBox2 {
    background-color: #f2f2f2;
}
.newsBox3 {
    background-color: #f2f2f2;
}
.changeColor {

    color: #FFFFFF;
    background-color: #d50003;
    border: 1px solid #ffdf00;
    border-radius: 30px;
}