.enterPrice {
    width: 300px;
    height:30px;
    border: 2px solid #554759;
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.13);
    color: #107084;

}
.resultPrice {
    display: none;
    width: 300px;
    height:30px;
    border: 2px solid #554759;
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.13);
    color: #107084;
}
.closeBtn {
    border: 2px solid #554759;
    border-radius: 15px;
    width: 18px;
    margin-right: 10px;
    float: right;
    color: #3a4965;
    font-weight: bold;
    cursor: pointer;
}
.resPrice {
    color: #3a4965;
}
.inFocus {
    border: 2px solid greenyellow;
}
.errorValue {
    border: 2px solid red;
    color: red;
}
.textOutFocus {
    font-weight: bold;
    color: yellowgreen;
}